@using CinemaC.Models
@model CinemaC.Models.Domain.TimeSlot

@section SubNav
{
    @Html.Partial("SubNavigation", SubNavigationMenu.TimeSlots)
}

<h2>
    Add TimeSlot
</h2>


@using (Html.BeginForm("AddTimeSlot", "Admin"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Format)
        @Html.EditorFor(x => x.Format, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Format)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.StarTime)
        @Html.EditorFor(x => x.StarTime, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.StarTime)
    </div>

    <div class="form-group" y>
        @Html.LabelFor(x => x.Cost)
        @Html.EditorFor(x => x.Cost, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Cost)
    </div>

    @Html.Partial("MoviesSelector", Model?.MovieId)
    @Html.Partial("HallsSelector", Model?.HallId)

    <input type="submit" value="Add Time Slot" class="btn btn-success" />
}